body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url("../imagenes/fondo_register.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
}

.container_registro{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

}
.formulario_registro{
	background-color: #0a1e35;
	border-radius: 15px;
	padding: 45px;
	opacity: 0.9;
}
.img_registro{
	width: 130px;
	height: 100px;
	margin-left: 95px;
}
.h2_registro{
	color: white;
	text-align: center;
}
input{
	display: block;
	width: 300px;
	height: 40px;
	margin-bottom: 20px;
	padding: 0 15px;
	font-size: 18px;
	outline: none;
	border: none;
	background: transparent;
	color: white;
	border-bottom: 2px solid white;
}
label{
	color: white;
}

a{
	color: white;
	text-decoration: none;
	margin-left: 110px;
}
a:hover{
	color: #b8b8b8b8;
}
.boton_registro{
    width: 150px;
    border-radius: 15px;
    background-color: #048620;
    color: white;
    margin-top: 30px;
    border: none;
    border-bottom: 4px solid #0b5a1c;
    margin-left: 96px;
}
.boton_registro:active{
	background-color: #0b5a1c;
	width: 145px;

}